<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Success</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
</head>
<body>
    <header>
        <h1>Success</h1>
    </header>
    <div class="content">
        <div class="message-container">
            <p>The Certificate for <strong>{{ student_name }}</strong> has been verified</p>
            <p><strong>Student ID:</strong> {{ student_id }}</p>
            <p><strong>Public Key:</strong></p>
            <div class="scrollable-text">{{ public_key }}</div>
        </div>

        <div class="form-container">
        <form action="/" method="GET">
            <p>or</p>
            <div class="form-spacing">
                <input type="submit" value="Go to Home" />
            </div>
        </form>
        </div>

    </div>
</body>
</html>
